{% extends '::base.html.twig' %}

{% block body -%}
  <h3>Edycja kolekcji</h3>

  {{ form(edit_form) }}

  <ul class="list-unstyled">
    <li>
      <a href="{{ path('discography') }}">
        Wróć do listy
      </a>
    </li>
  </ul>
{% endblock %}
