{% extends '::base.html.twig' %}

{% block body -%}
    <h3>Edycja dyskografii</h3>

    {{ form(edit_form) }}

        <ul class="list=unstyled">
    <li>
        <a href="{{ path('discography') }}">
            Wróć do listy
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
