{% extends '::base.html.twig' %}

{% block body -%}
    <h3>Dyskografia {{entity}}</h3>
    {{ include("MegalomanBundle:Discography:discography-table.html.twig" , {'discography': entity} )}}
    <a href="{{ path('discography') }}">
        Wróć do listy dyskografii
    </a>
{% endblock %}
