{% extends '::base.html.twig' %}

{% block body -%}
  <h3>Edycja artysty</h3>

  {{ form(edit_form) }}

  <ul class="list-unstyled">
    <li>
      <a href="{{ path('artist') }}">
        Wróć do listy
      </a>
    </li>
    <li>{{ form(delete_form) }}</li>
  </ul>
{% endblock %}
