{% extends '::base.html.twig' %}

{% block body -%}
  <h3>Artist creation</h3>

  {{ form(form) }}

  <ul class="list-unstyled">
    <li>
      <a href="{{ path('artist') }}">
        Back to the list
      </a>
    </li>
  </ul>
{% endblock %}
