{% extends '::base.html.twig' %}

{% block body -%}
    <h3>Megaloman {{entity}} edit</h3>

    {{ form(edit_form) }}

        <ul class="list-unstyled">
    <li>
        <a href="{{ path('megaloman') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
