{% extends '::base.html.twig' %}

{% block body -%}
  <h3>Megaloman creation</h3>

  {{ form(form) }}

  <ul class="record_actions">
    <li>
      <a href="{{ path('megaloman') }}">
        Back to the list
      </a>
    </li>
  </ul>
{% endblock %}
