{% extends '::base.html.twig' %}

{% block body -%}
  <h3>Lista albumów</h3>

 {{ include("MegalomanBundle:Album:album-table.html.twig" , {'albums': entities} )}}

  <ul class="list-unstyled">
    <li>
      <a href="{{ path('album_new') }}">
        dodaj nowy album
      </a>
    </li>
  </ul>
{% endblock %}
