{% extends '::base.html.twig' %}

{% block body -%}
  <h3>Nowy album</h3>

  {{ form(form) }}

  <ul class="list-unstyled">
    <li>
      <a href="{{ path('album') }}">
        Wróć do listy
      </a>
    </li>
  </ul>
{% endblock %}
